body {
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.box {
  border: 1px solid #e75552;
}

.outer-line {
  background-color: #308dc0;
  width: 350px;
  margin: 20px 20px 40px;
}

.inner-line {
  margin: 10px;
  background-color: #ffa500;
}

.text {
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
}

p {
  margin: 0;
}
